{% trans_default_domain 'FOSUserBundle' %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}SuProfile{% endblock %}</title>
 
		{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/tuto1.css') }}" type="text/css" />
		{% endblock %}

	</head>
	<body>
		<div class="container">
			<div id="header" class="hero-unit">
				<h1><img src="{{ asset('img/logo_supinfo_0063AF.png') }}" alt="Logo de SUPINFO" />SuProfile</h1>
				<p>Créez et partagez votre SuProfile !</br>
				Uploadez vos fichiers et contribuez à la SupDownload !</br>
				Rendez service à votre classe et à la communauté en  publiant dans la SupActuality !</p>
			</div>
			{% block fos_user_content %}
				{% if error %}
					<div>{{ error|trans }}</div>
				{% endif %}
			<hr/>
			<fieldset class="fieldset">
				<legend>Login</legend> 
				<form action="{{ path("fos_user_security_check") }}" method="post">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

					<label for="username">{{ 'security.login.username'|trans }}</label>
					<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" /></br>

					<label for="password">{{ 'security.login.password'|trans }}</label>
					<input type="password" id="password" name="_password" required="required" /></br>

					<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
					<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label></br>

					<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" /></br></br>
					Vous n'êtes pas encore inscrit ? <a href="{{ path('fos_user_registration_register') }}">S'enregistrer</a>
				</form>
			</fieldset>
			{% endblock fos_user_content %}
		</div>
	</body>
	<footer>
		<div class="span12">
			<hr class="line"/>
			<p>&copy;2013 SuProfile - A project developped by <a href="http://www.supinfo.com/">SUPINFO International University</a>.</p>
		</div>
	</footer>
</html>